.textoSobre {
  position: absolute;
  top: 20px;
  left: 125px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Primeira linha */
.foto02 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 115px;
  top: 30px;
}

.foto03 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 15px;
  top: 30px;
}
/* Primeira linha */

/* Segunda linha */
.foto04 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 315px;
  top: 220px;
}

.foto05 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 215px;
  top: 220px;
}

.foto06 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 115px;
  top: 220px;
}

.foto07 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 15px;
  top: 220px;
}
/* Segunda linha */

/* Terceira linha */
.foto08 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 415px;
  top: 410px;
}

.foto09 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 315px;
  top: 410px;
}

.foto10 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right:  215px;
  top: 410px;
}

.foto11 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 115px;
  top: 410px;
}

.foto12 {
  border: 8px solid black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 15px;
  top: 410px;
}
/* Terceira linha */
