.textoSobre {
  position: absolute;
  top: 20px;
  left: 125px;
}

.foto02, .foto03, .foto04, .foto05, .foto06, .foto07, .foto08, .foto09, .foto10, .foto11, .foto12 {
  border: 5px solid black;
  border-radius: 50%;
  position: absolute;
  width: 150px;
  height: 150px;
}

/* Primeira linha */
.foto02 {
  right: 115px;
  top: 30px;
}

.foto03 {
  right: 15px;
  top: 30px;
}
/* Primeira linha */

/* Segunda linha */
.foto04 {
  right: 315px;
  top: 220px;
}

.foto05 {
  right: 215px;
  top: 220px;
}

.foto06 {
  right: 115px;
  top: 220px;
}

.foto07 {
  right: 15px;
  top: 220px;
}
/* Segunda linha */

/* Terceira linha */
.foto08 {
  right: 415px;
  top: 410px;
}

.foto09 {
  right: 315px;
  top: 410px;
}

.foto10 {
  right:  215px;
  top: 410px;
}

.foto11 {
  right: 115px;
  top: 410px;
}

.foto12 {
  right: 15px;
  top: 410px;
}
/* Terceira linha */
