    body {
    background-image: url("D:/Aline/uds-trainee/exerciciosComplementares/01/site/imagens/background.png");
    background-repeat: repeat;
    padding: 0px;
    margin: 0px;
    width:100%;
    height: 100%;
    font-family: verdana;
    font-weight: bold;
    color: #000000;
    white-space: pre;
    text-align: center;
  }

  .iconeSobre {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 20px;
    right: 120px;
  }

  .iconeContato {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 20px;
    right: 50px;
  }

  .fotoPrincipal {
    border: 8px solid black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 175px;
    top: 50px;
  }

  .spotify {
    max-width: 120px;
    max-height: 120px;
    position: absolute;
    top: 80px;
    right: 380px;
    border-radius: 50%;
    border: 8px solid black;
  }

  .instagram {
    max-width: 110px;
    max-height: 110px;
    position: absolute;
    top: 200px;
    right: 130px;
    border-radius: 50%;
    border: 8px solid black;
  }

  .linkedin {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 380px;
    right: 550px;
    border-radius: 50%;
    border: 8px solid black;
  }

  .github {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 450px;
    right: 280px;
    border-radius: 50%;
    border: 8px solid black;
  }

.textoFotoPrincipal {
  position: absolute;
  top: 200px;
  left: -10px;
}

.textoSpotify {
  position: absolute;
  top: -80px;
  right: 500px;
}

.textoInstagram {
  position: absolute;
  top: -70px;
  right: -50px;
}

.textoLinkedin {
  position: absolute;
  top: 300px;
  right: 570px;
}

.textoGithub {
  position: absolute;
  top: 160px;
  right: 200px;
}


::-webkit-scrollbar-thumb {
background: #000000;
height:50px;
}


::-webkit-scrollbar {
height:15px;
width:15px;
background: #292929;
}
